/* Base */
body {
	background-color: var(--wp--preset--color--bg-dark);
	color: var(--wp--preset--color--white);
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
	font-size: var(--wp--preset--font-size--medium);

	&.bg-color-light,
	&.bg-color-yellow,
	&.bg-color-blue,
	&.bg-color-dark-gray {
		color: var(--wp--preset--color--black);
	}

	&.bg-color-light {
		background-color: var(--wp--preset--color--bg-light);
	}

	&.bg-color-dark {
		background-color: var(--wp--preset--color--bg-dark);
	}

	&.bg-color-blue {
		background-color: var(--wp--preset--color--blue);
	}

	&.bg-color-orange {
		background-color: var(--wp--preset--color--orange);
		color: var(--wp--preset--color--black);
	}

	&.bg-color-yellow {
		background-color: var(--wp--preset--color--yellow);
	}

	&.bg-color-green {
		background-color: var(--wp--preset--color--green);
	}

	&.bg-color-red {
		background-color: var(--wp--preset--color--red);
	}

	&.bg-color-blue,
	&.bg-color-yellow {
		.site-main {
			a {
				color: var(--wp--preset--color--green);
			}
		}
	}
}

a {
	color: var(--wp--preset--color--blue);
}

p {
	margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.mobile-only {
	@media screen and (min-width: 34rem) {
		display: none !important;
	}
}

.desktop-only {
	@media screen and (max-width: 34rem) {
		display: none !important;
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea {
	font-family: var(--wp--custom--font-family--body);
	font-size: var(--wp--preset--font-size--medium);
	border-radius: var(--wp--custom--border-radius--radius);
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	color: var(--wp--preset--color--bg-dark);
	background-color: var(--wp--preset--color--white);
	padding: 0.5em;

	&:focus {
		border-color: var(--wp--preset--color--blue);
		outline: none;
	}
}

input[type="submit"] {
	background-color: var(--wp--preset--color--blue);
	color: var(--wp--preset--color--white);
	border: none;
	padding: 0.5em 1em;
	border-radius: var(--wp--custom--border-radius--radius);
	font-size: var(--wp--preset--font-size--medium);
	font-family: var(--wp--custom--font-family--heading);
	cursor: pointer;
	opacity: 0.9;
	transition: opacity 0.3s ease;

	&:hover {
		opacity: 1;
	}
}
